### This notebook is to generate df of Positions, that is resulted in our strategy

In [156]:
import pandas as pd
from math import sqrt
import math

import requests
import json
import numpy as np

### Functions from load_data

In [157]:
def run_query(q):

    # endpoint where you are making the request
    request = requests.post('https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v3'
                            '',json={'query': q})
    if request.status_code == 200:
        return request
    else:
        raise Exception('Query failed. return code is {}.      {}'.format(request.status_code, query))

def get_token_id(symbol):
    
    # default should be first:10, in case there are more than 1 coins with the same symbol
    query_ = """ 
    {{
      tokens(first:1, where:{{symbol: "{}"}}) {{
        id
        symbol
        name
      }}
    }}""".format(symbol)
    
    # run query
    query_result_ = run_query(query_)
    json_data_ = json.loads(query_result_.text)
    
    print(' ')
    print('get_token_id: {}'.format(symbol))
    print(json_data_)
    
    # make sure only return 1 object
    if len(json_data_['data']['tokens']) == 1:
        token_id_ = json_data_['data']['tokens'][0]['id']
        return token_id_
        
    else:
        print(json_data_['data'])
        raise Exception('Returned number of token_ids != 1')
     
def get_pool_id(token0_id, token1_id, feeTier):
    query_ = """
    {{
      pools(first: 10, 
        where:{{token0: "{}",
        token1: "{}",
        feeTier:"{}" }}) 
      {{
        id
        token0{{symbol}}
        token1{{symbol}}
        feeTier
      }}
    }}""".format(token0_id, token1_id, feeTier)
    
    
    # run query
    query_result_ = run_query(query_)
    json_data_ = json.loads(query_result_.text)
    
    print('\n get_pool_id for feeTier: {}'.format(feeTier))
    print(json_data_)
    
    # make sure there is only 1 pool that matches exactly
    if len(json_data_['data']['pools']) == 1:
        pool_id_ = json_data_['data']['pools'][0]['id']
        return pool_id_
    else:
        print(json_data_['data'])
        raise Exception('Returned number of token_ids != 1')

        
    return json_data_

### Additional functions to get information needed

In [188]:
def get_cprice_at_mint(token0, token1, feeTier, mint_time):
    
    # get token_ids
    token0_id = get_token_id(token0)
    token1_id = get_token_id(token1)
    pool_id = get_pool_id(token0_id, token1_id, feeTier)
        
    # query price at that specific time
    query_ = """
    {{
      poolHourDatas(first:1,
      where:{{ pool: "{}",
      periodStartUnix: {} }}
      ){{
        tick
      }}
    }}""".format(pool_id, mint_time)
    query_result_ = run_query(query_)
    json_data_ = json.loads(query_result_.text)
    
    ctick = int(json_data_['data']['poolHourDatas'][0]['tick'])
    cprice = 1.0001**ctick
    
    return cprice

def get_decimals(token_symbol):
    query_ = """
    {{
      tokens(first:10,
      where:{{ symbol: "{}"}}
      ){{
        decimals
      }}
    }}""".format(token_symbol)
    
    query_result_ = run_query(query_)
    json_data_ = json.loads(query_result_.text)
    decimal_ = float(json_data_['data']['tokens'][0]['decimals'])
    
    return decimal_

### Functions

In [74]:
# L_you calculation / inRange
# 4B. JNP: Use 'get_liquidity' function to calculate liquidity as a function of amounts and price range
def get_liquidity0(sqrtA,sqrtB,amount0,decimals):
    
    if (sqrtA > sqrtB):
          (sqrtA,sqrtB)=(sqrtB,sqrtA)
    
    liquidity=amount0/((2**96*(sqrtB-sqrtA)/sqrtB/sqrtA)/10**decimals)
    return liquidity

def get_liquidity1(sqrtA,sqrtB,amount1,decimals):
    
    if (sqrtA > sqrtB):
        (sqrtA,sqrtB)=(sqrtB,sqrtA)
    
    liquidity=amount1/((sqrtB-sqrtA)/2**96/10**decimals)
    return liquidity

def get_liquidity(tick,tickA,tickB,amount0,amount1,decimal0,decimal1):
    
        sqrt=(1.0001**(tick/2)*(2**96))
        sqrtA=(1.0001**(tickA/2)*(2**96))
        sqrtB=(1.0001**(tickB/2)*(2**96))
        if (sqrtA > sqrtB):
            (sqrtA,sqrtB)=(sqrtB,sqrtA)
    
        if sqrt<=sqrtA:
            
            liquidity0=get_liquidity0(sqrtA,sqrtB,amount0,decimal0)
            inRange = False
            return liquidity0, inRange
        elif sqrt<sqrtB and sqrt>sqrtA:

            liquidity0=get_liquidity0(sqrt,sqrtB,amount0,decimal0)
            liquidity1=get_liquidity1(sqrtA,sqrt,amount1,decimal1)
            
            liquidity=liquidity0 if liquidity0<liquidity1 else liquidity1
            inRange = True
            return liquidity, inRange
        
        else:
            liquidity1=get_liquidity1(sqrtA,sqrtB,amount1,decimal1)
            inRange = False
            return liquidity1, inRange

In [175]:
def price_to_tick(price_):
    # convert price (token1 by token0) to tick
    tick_ = math.floor(math.log(sqrt(price_), math.sqrt(1.0001)))
    return tick_

def tick_to_price(tick_):
    price_ = 1.0001**tick_
    return price_

In [123]:
# Calculate Fees
def get_fees(cprice_, lower_, upper_, amot0_, amt1_, decimal0_, decimal1_):
    
    tick_ = price_to_tick(cprice_)
    tickA_ = price_to_tick(lower_)
    tickB_ = price_to_tick(upper_)
    L_you_, inRange_ = get_liquidity(tick_,tickA_,tickB_,amt0_,amt1_,decimal0_,decimal1_)

    if inRange:
        pool_share = (L_you/L_POOL)
        pool_fee_rate = float(FEETIER) / 10000
        fees = pool_share * SWAP_VOLUME * pool_fee_rate / 100
    else:
        fees = 0
        
    return fees

In [ ]:
# Step 4
def get_impermanent_loss():
    return IL

In [ ]:
# Step 4
def get_PNL():
    return pnl

In [ ]:
# Step 5
def get_cost():
    return cost

### Main

In [113]:
### input: money USD, upper and lower
# maths:
# p(i) = 1.0001**i , where i = tick
# i = math.floor(math.log(sqrt(P)/(2**96), math.sqrt(1.0001)))

# of positions:
# liquidity L = sqrt(token0_amt*token1__amt) ?? > may need the complicated 3 cases maths
# - Fee income = (L_you/L_pool) * swap volume under fixed time period (USD) * pool_fee_rate/100

In [142]:
# STEP 0:  PROVIDE BY USERS
UPPER = 1/2197.405 # token1 per token0 (in terms of price)
LOWER = 0.00043# 1/2376.6075 
FEETIER = '3000' # 0.3 = 3000/10000
TOKEN0 = 'DAI'
TOKEN1 = 'WETH'
MINT_TIME = 1627171200 # needs to start with the hour (unixTime % 3600 = 0) 
BURN_TIME = 1627344000
# 25 June 0000 - 27 July 0000 (GMT+0)

In [ ]:
# STEP 1 (TODO): CALCULATED BY ALGORITHM, now - flipside
amt0 = 5457.48  
amt1 = 1.98

In [144]:
# STEP 2 (TODO): GET BY QUERYING <SEPARATELY>, at specific mint time (TODO) - now - df_merged
# CPRICE = 1/2293.4514 # 0.000436882 # ETH per DAI
ctick = df_merged[df_merged['periodStartUnix'] == MINT_TIME]['tick'].values[0]
CPRICE = 1.0001**ctick
print(CPRICE)
print(1/CPRICE)

# query Token from the graph, or Etherscan for now. (TODO)
DECIMAL0 = 18 # DAI
DECIMAL1 = 18 # WETH

In [ ]:
# STEP 3 (TODO): Generate df_positions

In [ ]:
# STEP 4 (TODO): Calculate Fees, IL and PNL at each hour, and append to df_positions
# STEP 5 (TODO): also accoutning for minting/burning/swaping costs into PNL

In [ ]:
def calculate_pnl_from_positions(df_merge, df_positions):
    
    return df_positions

In [117]:
# GET from DF_MERGE (for specific hour frame)
L_POOL = 2257382392731291728666040 # DF_MERGE['liquidity']
SWAP_VOLUME = 671187.484515 # DF_MERGE['amountUSD'] - of that hour

In [120]:
inRange
fees

4.794602974269194

In [150]:
df_merged.shape[0] > 1

True

In [ ]:
liquidity, upper, lower, change_positions[0,1]

In [122]:
df_merged = pd.read_csv('../data/__________________.csv')
watch_list = ['periodStartUnix',  
              'txCount', 'swaps_txCount', # check data integrity
              'amount0', 'amount1', 'amountUSD', # swaps data, note: amountUSD is sqrt(P)
              'tick', 'liquidity', 'sqrtPrice', 'tvlUSD', # pool data at that hour (liquidity is for the whole pool)
              'pool.token0.symbol', 'pool.token1.symbol', # token data
              'token0Price', 'token1Price'
             ]
# https://github.com/Uniswap/uniswap-v3-subgraph/blob/main/schema.graphql
df_merged[watch_list].sample(15)

,periodStartUnix,txCount,swaps_txCount,amount0,amount1,amountUSD,tick,liquidity,sqrtPrice,tvlUSD,pool.token0.symbol,pool.token1.symbol,token0Price,token1Price
650,1625104800,28,28.0,-1.974750e+06,887.726916,1.977799e+06,-76985,3299480981622837147676823,1687566721561983708165606161,3.730297e+07,DAI,WETH,2204.130287,0.000454
325,1626292800,11,9.0,1.464890e+05,-73.636456,1.464371e+05,-75943,2570256373755532311576181,1777865312365523826220818876,3.123081e+07,DAI,WETH,1985.918650,0.000504
1178,1623204000,47,41.0,1.292563e+06,-524.448914,4.177936e+06,-78059,4825361271819246504013785,1599358326353043191830564520,7.019807e+07,DAI,WETH,2453.960773,0.000408
1827,1620867600,44,44.0,6.089490e+05,-149.873329,5.128798e+06,-82919,1295331673846076863401986,1254361980465165221764141738,2.184229e+07,DAI,WETH,3989.453461,0.000251
1498,1622052000,39,34.0,6.494373e+05,-234.367447,3.104896e+06,-79164,3572265917160847259086470,1513391792740590498244905882,7.540048e+07,DAI,WETH,2740.667935,0.000365
1126,1623391200,33,23.0,-1.737028e+06,710.301308,1.850965e+06,-77985,5092189682481692077189494,1605300695570569363161004085,6.570085e+07,DAI,WETH,2435.826661,0.000411
1726,1621231200,46,44.0,8.895982e+05,-262.593866,2.382536e+06,-81321,1337679053348280340982465,1358695395301194371942832879,6.258869e+07,DAI,WETH,3400.282187,0.000294
911,1624165200,17,10.0,1.239433e+05,-56.083268,1.239297e+05,-77002,1141198834340814357084403,1686163096088991674970056188,5.848994e+07,DAI,WETH,2207.801416,0.000453
837,1624431600,15,14.0,-1.449757e+04,7.781482,3.799388e+05,-76059,971068775524109341574849,1767580096496581627197723357,5.753166e+07,DAI,WETH,2009.097264,0.000498
1349,1622588400,31,28.0,2.517844e+06,-962.679042,2.801321e+06,-78754,5383529700652901207922060,1544718489447736737247813129,7.947414e+07,DAI,WETH,2630.634296,0.000380
1218,1623060000,19,15.0,1.749456e+06,-622.806239,1.787347e+06,-79463,3939676997135339411509149,1490933896295112832771638620,8.225928e+07,DAI,WETH,2823.854985,0.000354
95,1627120800,7,4.0,1.078903e+05,-50.233252,1.077899e+05,-76736,590898865261596207312106,1708764154824456526545312422,2.477086e+07,DAI,WETH,2149.784450,0.000465
1306,1622743200,18,16.0,-1.389739e+06,496.138596,1.560125e+06,-79347,3789447286826799338868893,1499626202973026030627574551,7.836648e+07,DAI,WETH,2791.213950,0.000358
1269,1622876400,30,23.0,4.467697e+05,-158.135360,2.482986e+06,-79316,5396992736943112110796403,1501927557901929924007204807,8.541657e+07,DAI,WETH,2782.666730,0.000359
1942,1620453600,5,4.0,-5.647265e+05,160.050430,5.654842e+05,-81692,3353266493235172834551489,1333679082916351337164748577,2.183696e+07,DAI,WETH,3529.039243,0.000283